#mrk
{
  background-color: aqua;
}

  img { 
    width: 50%;
    height: auto;
    float: right;
    
  }
  p
  {color: blueviolet;
    background-color: cornflowerblue;

  }
  ol li 
  {
      color: cyan;
      background-color: darkgoldenrod;
  }
